.button
    display flex
    flex-direction row
    text-decoration none
    padding .5em 1.5em
    align-items center
    border-radius 5px
    font-size 1.2em
    color $black-color
    background-color lightgrey
    transition all .2s
    &:hover, &:active, &:focus
        transform translateY(2px)
    .icon
        margin-right .5em