.container
    display flex
    margin 0 auto

// Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575px)
// // 1.25dpi
// @media (max-width: 575px) and (-webkit-max-device-pixel-ratio: 1.25) and (max-resolution: 120dpi)
//     .superFold
//         background-image url(../img/background-lasvegas-720px.jpg)
// // 1.5dpi
// @media (max-width: 575px) and (-webkit-max-device-pixel-ratio: 1.5) and (max-resolution: 144dpi)
//     .superFold
//         background-image url(../img/background-lasvegas-864px.jpg)
// // 2dpi
// @media (max-width: 575px) and (-webkit-max-device-pixel-ratio: 2) and (max-resolution: 192dpi)
//     .superFold
//         background-image url(../img/background-lasvegas-1152px.jpg)
// // 3dpi
// @media (max-width: 575px) and (-webkit-max-device-pixel-ratio: 3) and (max-resolution: 328dpi)
//     .superFold
//         background-image url(../img/background-lasvegas-1728px.jpg)

// @media (max-width: 767px)
 

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 767px)
//     .superFold
//         background-image url(../img/background-lasvegas-768px.jpg)
// // 1.25dpi
// @media (min-width: 576px) and (max-width: 767px) and (-webkit-max-device-pixel-ratio: 1.25) and (max-resolution: 120dpi)
//     .superFold
//         background-image url(../img/background-lasvegas-960px.jpg)
// // 1.5dpi
// @media (min-width: 576px) and (max-width: 767px) and (-webkit-max-device-pixel-ratio: 1.5) and (max-resolution: 144dpi)
//     .superFold
//         background-image url(../img/background-lasvegas-1152px.jpg)
// // 2dpi
// @media (min-width: 576px) and (max-width: 767px) and (-webkit-max-device-pixel-ratio: 2) and (max-resolution: 192dpi)
//     .superFold
//         background-image url(../img/background-lasvegas-1536px.jpg)
// // 3dpi
// @media (min-width: 576px) and (max-width: 767px) and (-webkit-max-device-pixel-ratio: 3) and (max-resolution: 328dpi)
//     .superFold
//         background-image url(../img/background-lasvegas-2304px.jpg)


// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) and (max-width: 991px)
//     .superFold
//         background-image url(../img/background-lasvegas-992px.jpg)
// // 1.25dpi
// @media (min-width: 768px) and (max-width: 991px) and (-webkit-max-device-pixel-ratio: 1.25) and (max-resolution: 120dpi)
//     .superFold
//         background-image url(../img/background-lasvegas-1240px.jpg)
// // 1.5dpi
// @media (min-width: 768px) and (max-width: 991px) and (-webkit-max-device-pixel-ratio: 1.5) and (max-resolution: 144dpi)
//     .superFold
//         background-image url(../img/background-lasvegas-1488px.jpg)
// // 2dpi
// @media (min-width: 768px) and (max-width: 991px) and (-webkit-max-device-pixel-ratio: 2) and (max-resolution: 192dpi)
//     .superFold
//         background-image url(../img/background-lasvegas-1984px.jpg)
// // 3dpi
// @media (min-width: 768px) and (max-width: 991px) and (-webkit-max-device-pixel-ratio: 3) and (max-resolution: 328dpi)
//     .superFold
//         background-image url(../img/background-lasvegas-2976px.jpg)

@media (max-width: 900px)
   .container
        width 100%
        flex-wrap wrap
    .header__logo
        width 250px
    .menuicon
        display block
        opacity 1
    .header__menu
        position absolute
        width 250px
        padding 0
        transform translate(-255px, 0)
        flex-wrap wrap
        transition transform .3s ease-out
    .header__item
        width 100%
    .header__link
        width 100%
        padding 10px 0
        background $color__yellow1
        color $color__purple3
        &:hover
            background-color $color__purple3
            color $color__yellow1
    .header__button
        width 100%
        justify-content center
        color $color__yellow1
        background $color__purple3
        box-shadow none
        border-radius 0 0 5px 5px
        &:hover, &:active, &:focus
            transform none
            box-shadow none
            background $color__yellow1
            color $color__purple3
            font-weight bold
@media (min-width: 901px) and (max-width: 1200px)
    .container
        width 900px
// @media (min-width: 767px) and (max-width: 1200px)

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) and (max-width: 1199px)
//     .superFold
//         background-image url(../img/background-lasvegas-1200px.jpg)
// // 1.25dpi
// @media (min-width: 992px) and (max-width: 1199px) and (-webkit-max-device-pixel-ratio: 1.25) and (max-resolution: 120dpi)
//     .superFold
//         background-image url(../img/background-lasvegas-1500px.jpg)
// // 1.5dpi
// @media (min-width: 992px) and (max-width: 1199px) and (-webkit-max-device-pixel-ratio: 1.5) and (max-resolution: 144dpi)
//     .superFold
//         background-image url(../img/background-lasvegas-1800px.jpg)
// // 2dpi
// @media (min-width: 992px) and (max-width: 1199px) and (-webkit-max-device-pixel-ratio: 2) and (max-resolution: 192dpi)
//     .superFold
//         background-image url(../img/background-lasvegas-2400px.jpg)
// // 3dpi
// @media (min-width: 992px) and (max-width: 1199px) and (-webkit-max-device-pixel-ratio: 3) and (max-resolution: 328dpi)
//     .superFold
//         background-image url(../img/background-lasvegas-3600px.jpg)


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px)
    .container
        display flex
        margin 0 auto
        width 1200px
        justify-content space-between