header.header
    .container
        a(href="/").header__logo
            h1 FACON - Faculdades Conectadas
        input(type="checkbox" id="hamburger")
        label(class="menuicon" for="hamburger")
            span
        menu.header__menu
            //- li.header__item
            //-     if actived == 'pos'
            //-         a(href="/pos-graduacao.html").header__link.actived.underline-from-left Pós-graduação
            //-     else
            //-         a(href="/projects.html").header__link.underline-from-left Pós-graduação
            li.header__item
                if actived == 'porque'
                    a(href="/#porque").header__link.actived.underline-from-left Por quê?
                else 
                    a(href="/#porque").header__link.underline-from-left Por quê?
            li.header__item
                if actived == 'como'
                    a(href="/#como").header__link.actived.underline-from-left Como?
                else 
                    a(href="/#como").header__link.underline-from-left Como?
            li.header__item
                if actived == 'onde'
                    a(href="/#onde").header__link.actived.underline-from-left Onde?
                else 
                    a(href="/#onde").header__link.underline-from-left Onde?
            li.header__item
                if actived == 'quero'
                    a(href="/#quero").header__button.actived Quero!
                else 
                    a(href="/#quero").header__button.button Quero!