section.slider
	.slider__item.slider__item--one
		.slider__capa.slider__capa--one
		a.slider__arrowdown(href="/#down")
			svg(class="icon" aria-hidden="true")
				use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/img/sprite.svg#arrow-down")