@import 'partials/variables'
@import 'partials/mixins'


@import '../../../node_modules/nib/'

normalize-css()

@import 'partials/scroll'
@import 'partials/icons'

*
  box-sizing border-box

header, a, img, svg, span
  border-dev()

img
  width 100%
  height 100%

.notext
  display none

html, body
  font-family 'Open Sans', sans-serif
  font-size 12px

@import 'partials/effects'
@import 'partials/buttons'
@import 'partials/header'

@import 'partials/slider'

@import 'partials/responsive'


